/* RESET CSS SIDEBAR PRIMEVUE */
.p-sidebar .p-sidebar-header,
.p-sidebar .p-sidebar-content {
    padding: 0 !important;
}

.p-carousel-indicator , .p-highlight{
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content:center !important;
}

.p-link{
    background-color: gray !important;
  
}

.p-carousel-indicators, .p-reset{
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content:center !important;
    
}